<!DOCTYPE html>
<html layout:decorate="~{layout}" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tickets</title>
</head>
<body>
    <div layout:fragment="content">
        <h1>Tickets for <span th:text="${user.name}"></span></h1>
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Event</th>
                    <th>Date</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="ticket : ${tickets}">
                    <td th:text="${ticket.id}"></td>
                    <td><a th:href="@{/events/{id}(id=${ticket.event.id})}" th:text="${ticket.event.title}"></a></td>
                    <td th:text="${#temporals.format(ticket.event.date, 'yyyy-MM-dd HH:mm')}"></td>
                    <td>
                        <a th:href="@{/tickets/delete/{id}(id=${ticket.id})}" class="btn btn-danger">Cancel and Refund</a>
                    </td>
                </tr>
            </tbody>
        </table>
        <div>
            <ul class="pagination">
                <li th:classappend="${currentPage == 0} ? 'disabled' : ''" class="page-item">
                    <a th:href="@{/tickets(page=${currentPage - 1}, size=${size})}" class="page-link">Previous</a>
                </li>
                <li th:each="i : ${#numbers.sequence(0, totalPages - 1)}" th:classappend="${i == currentPage} ? 'active' : ''" class="page-item">
                    <a th:href="@{/tickets(page=${i}, size=${size})}" th:text="${i + 1}" class="page-link"></a>
                </li>
                <li th:classappend="${currentPage + 1 == totalPages} ? 'disabled' : ''" class="page-item">
                    <a th:href="@{/tickets(page=${currentPage + 1}, size=${size})}" class="page-link">Next</a>
                </li>
            </ul>
        </div>
        <div>
            <a th:href="@{/tickets/download/user/{userId}(userId=${user.id})}" target="_blank">Download Tickets as PDF</a>
        </div>
    </div>
</body>
</html>