<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User Detail</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container mt-4">
    <h1>User Detail</h1>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title" th:text="${user.name}">User Name</h5>
            <p class="card-text">Email: <span th:text="${user.email}"></span></p>
            <p class="card-text">Account Balance: $<span th:text="${#numbers.formatDecimal(user.accountBalance, 1, 'COMMA', 2, 'POINT')}"></span></p>
            <a th:href="@{/users/edit/{id}(id=${user.id})}" class="btn btn-info">Edit</a>
            <a th:href="@{/users/delete/{id}(id=${user.id})}" class="btn btn-danger">Delete</a>
        </div>
    </div>
</div>
</body>
</html>